.u-section-2-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/14.-Ucheba-vo-vremya-koronavirusa-Blog.jpg");
  background-position: 50% 48.64%;
}

.u-section-2-1 .u-sheet-1 {
  min-height: 213px;
}

.u-section-2-1 .u-text-1 {
  font-size: 6rem;
  text-shadow: 2px 2px 7px rgba(0,0,0,0.4);
  margin: 17px 168px 0;
}

@media (max-width: 1199px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-2-1 .u-text-1 {
    margin-top: -205px;
    margin-left: 68px;
    margin-right: 68px;
  }
}

@media (max-width: 991px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 368px;
  }

  .u-section-2-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 206px;
  }

  .u-section-2-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 45px;
  }
}

@media (max-width: 575px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 114px;
  }

  .u-section-2-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 11px;
  }
}.u-section-2-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/de2a0f7b-6a66-efc3-d520-d1dbd54cfccd.jpg");
  background-position: 50% 36.78%;
}

.u-section-2-2 .u-sheet-1 {
  min-height: 213px;
}

.u-section-2-2 .u-text-1 {
  font-size: 6rem;
  text-shadow: 2px 2px 7px rgba(0,0,0,0.4);
  margin: 17px 168px 60px;
}

@media (max-width: 1199px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-2-2 .u-text-1 {
    margin: -205px 68px 0;
  }
}

@media (max-width: 991px) {
  .u-section-2-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 206px;
  }

  .u-section-2-2 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 47px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 114px;
  }

  .u-section-2-2 .u-text-1 {
    font-size: 3rem;
    margin-top: 11px;
    margin-bottom: 0;
  }
}.u-section-2-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/689a5f2fd3c451b0932d410f4832c94f.jpg");
  background-position: 50% 57.73%;
}

.u-section-2-3 .u-sheet-1 {
  min-height: 213px;
}

.u-section-2-3 .u-text-1 {
  font-size: 6rem;
  text-shadow: 2px 2px 7px rgba(0,0,0,0.4);
  margin: 17px 168px 60px;
}

@media (max-width: 1199px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-2-3 .u-text-1 {
    margin: -205px 68px 0;
  }
}

@media (max-width: 991px) {
  .u-section-2-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 206px;
  }

  .u-section-2-3 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 38px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 114px;
  }

  .u-section-2-3 .u-text-1 {
    font-size: 2.4375rem;
    margin-top: 11px;
    margin-bottom: 28px;
  }
}.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 10px;
}.u-block-60e4-5 {
  position: absolute;
  width: 72px;
  height: 3px;
  top: auto;
  bottom: 328px;
}

.u-block-60e4-3 {
  position: absolute;
  left: 0;
  width: 65px;
  height: 66px;
  background-image: none;
}

.u-block-60e4-4 {
  position: absolute;
  right: 0;
  width: 65px;
  height: 66px;
  background-image: none;
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 10px;
}.u-section-4 .u-sheet-1 {
  min-height: 866px;
}

.u-section-4 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  background-image: none;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 807px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px 0;
}

.u-section-4 .u-icon-1 {
  height: 51px;
  width: 51px;
  background-image: none;
  color: rgb(35, 31, 32) !important;
  margin: -7px auto 0;
}

.u-section-4 .u-text-1 {
  margin: 6px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  margin: 30px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 20px -159px 0 auto;
  padding: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 794px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 525px;
  height: 467px;
  box-shadow: 7px 7px 5px 0 rgba(0,0,0,0.4);
  text-shadow: 7px 7px 0 rgba(0,0,0,0);
  margin: 133px auto 0 -30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 665px;
    pointer-events: auto;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 77px;
    margin-right: auto;
    font-size: 0.875rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 655px;
  }

  .u-section-4 .u-image-1 {
    width: 410px;
    height: 365px;
    margin-top: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 27px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 502px;
  }

  .u-section-4 .u-image-1 {
    width: 300px;
    height: 267px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1314px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 742px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 390px;
    margin-left: auto;
    margin-bottom: -369px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 448px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    width: 376px;
    height: 335px;
    margin-top: -44px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1273px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 1165px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 5px;
    margin-left: -4px;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.875rem;
    width: auto;
    margin-left: -30px;
    margin-right: -30px;
  }

  .u-section-4 .u-btn-1 {
    font-size: 1.125rem;
    margin-top: 329px;
    margin-left: 34px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 31px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 1px;
  }

  .u-section-4 .u-image-1 {
    width: 292px;
    height: 260px;
    margin-top: -384px;
  }
}